.Cart-Container {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.Cart-Empty-Container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
}

.Cart-List {
    width: 60%;
    height: 100%;
}

.Cart-Item-Container {
    width: 80%;
    height: 30vh;
    margin: 2rem 0 2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(201, 201, 201);
}

.Cart-Item-Container img {
    height: 100%;
}

.Cart-Item-Info-Container {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.Cart-Item-Info-Container h4 {
    font-size: 1.2rem;
    font-weight: 400;
}

.Cart-Item-Info-Container h5 {

    text-decoration: underline;
}

.Cart-Item-Quantity-Container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

.Cart-Item-Delete-Item {
    align-self: flex-end;
    width: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

.Cart-Item-Quantity-Container button {
    color: white;
    border-radius: 0.125rem;
    font-weight: 700;
    background-color: black;
    width: 15%;
    height: 100%;
    cursor: pointer;
}

.Cart-Item-Quantity-Container span {
    width: 20%;
    padding: 0.2rem;
    border-radius: 3px;
    border: 1px solid black;
    text-align: center;
    margin: 0 1rem;
}

.Cart-Checkout-Info {
    width: 40%;
    height: 40vh;
    border: 1px solid #eee ;
    margin: 2rem 2rem 0  0;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.Cart-Checkout-Info h4 {
    font-weight: 700;
    font-size: 2rem;
}

.Cart-Checkout-Info button {
    width: 40%;
    align-self: center;
    background-color: black;
    color: white;
    border: transparent;
    position: relative;
    padding: 1rem;
}

.Cart-Checkout-Info button:hover {
    background-color: rgb(63, 63, 63);
    cursor: pointer;
}

.Cart-Checkout-Info button:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    left: 1px;
    top:1px;
}

@media screen and (max-width: 480px) {
    .Cart-Container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 85vh;
    }

    .Cart-Empty-Container {
        height: 85vh;
    }

    .Cart-List {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Cart-Item-Container {
        width: 85%;
        height: 20vh;
        margin: 2rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid rgb(201, 201, 201);
    }

    .Cart-Item-Info-Container {
        height: 100%;
        padding: 0.3rem;
    }

    .Cart-Item-Info-Container h4 {
        font-size: 1rem;
        font-weight: 400;
    }
    
    .Cart-Item-Info-Container h5 {
        font-size: 0.8rem;
        text-decoration: underline;
    }

    .Cart-Checkout-Info {
        width: 85%;
        margin: 0;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .Cart-Container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 85vh;
    }

    .Cart-Empty-Container {
        height: 85vh;
    }

    .Cart-List {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Cart-Item-Container {
        width: 85%;
        height: 20vh;
        margin: 2rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid rgb(201, 201, 201);
    }

    .Cart-Item-Info-Container {
        height: 100%;
        padding: 0.3rem;
    }

    .Cart-Item-Info-Container h4 {
        font-size: 1rem;
        font-weight: 400;
    }
    
    .Cart-Item-Info-Container h5 {
        font-size: 0.8rem;
        text-decoration: underline;
    }

    .Cart-Checkout-Info {
        width: 85%;
        margin: 0 0 1rem 0;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .Cart-Container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 85vh;
    }

    .Cart-Empty-Container {
        height: 85vh;
    }

    .Cart-List {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Cart-Item-Container {
        width: 85%;
        height: 20vh;
        margin: 2rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid rgb(201, 201, 201);
    }

    .Cart-Item-Info-Container {
        height: 100%;
        padding: 0.3rem;
    }

    .Cart-Item-Info-Container h4 {
        font-size: 1rem;
        font-weight: 400;
    }
    
    .Cart-Item-Info-Container h5 {
        font-size: 0.8rem;
        text-decoration: underline;
    }

    .Cart-Checkout-Info {
        width: 85%;
        margin: 0;
    }
}